{% extends 'base.html.twig' %}

{% block title %}Hello SecurityController!{% endblock %}

{% block body %}

<form class="text-center border border-light p-5" method="post">
​
    <p class="h1 mb-4">Réinitialiser votre mot de passe</p>

    <!-- E-mail -->
    <label for="defaultRegisterFormEmail">Saisissez votre adresse email pour réinitialiser votre mot de passe</label>
    <input type="email" id="defaultRegisterFormEmail" class="form-control mb-4" placeholder="E-mail" name="username">

​
    <!--  button -->
    <button class="btn btn-info my-4 btn-block" type="submit">Réinitialiser votre mot de passe</button>
    
</form>

{% endblock %}