{% extends 'base.html.twig' %}

{% block title %}Réinitialiser votre mot de passe{% endblock %}

{% block body %}

    {# l'image du header #}
    <header class="v-header-all containeur">
        <div class="fullscreen-image-wrap-all"></div>
        <div class="header-overlay-all"></div>
        <div class="header-content-all">
            <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
            <h1>Réinitialiser votre mot de passe</h1>
        </div>
    </header>

   {# fil d'Ariane #}
    <div class="container" id="main-recette">
       <nav aria-label="breadcrumb">
           <ol class="breadcrumb">
               <li class="breadcrumb-item"><a href="index.html">Accueil</a></li>
               <li class="breadcrumb-item active" aria-current="page">Inscription</li>
           </ol>
       </nav>
    </div>

    {# partie formulaire #}
    <div class="container mt-5">
        <form class="text-center border border-light p-5 mb-5" method="post">
        ​
            <p class="h1 mb-4">Réinitialiser votre mot de passe</p>

            <!-- E-mail -->
            <label for="defaultRegisterFormEmail">Saisissez votre adresse email pour réinitialiser votre mot de passe</label>
            <input type="email" id="defaultRegisterFormEmail" class="form-control mb-2" placeholder="E-mail" name="username">

        ​
            <!--  button -->
            <button class="btn btn-info my-4 btn-block" type="submit">Réinitialiser votre mot de passe</button>
            
        </form>
    </div>
</div>


{% endblock %}