{% extends 'base.html.twig' %}

{% block title %}Réinitialiser mon mot de passe{% endblock %}

{% block body %}
<div class="container">
    <form class="text-center border border-light p-5" method="post">
    ​
        <p class="h1 mb-4">Réinitialiser votre mot de passe</p>

        <label for="defaultRegisterFormEmail">Nouveau mot de passe</label>
        <input type="password" id="defaultRegisterFormEmail" class="form-control mb-4" name="password">

        <label for="defaultRegisterFormEmail">Confirmer votre mot de passe</label>
        <input type="password" id="defaultRegisterFormEmail" class="form-control mb-4" name="confirmed_password">
    ​       
        <input type="hidden" name="token" value="{{token}}">
        <!--  button -->
        <button class="btn btn-info my-4 btn-block" type="submit">Réinitialiser votre mot de passe</button>
        
    </form>
</div>
{% endblock %}