{% extends 'base.html.twig' %}

{% block title %}Nutnut-Food{% endblock %}

{% block body %}
    <header class="v-header containeur">
            <div class="fullscreen-video-wrap">
                </div>
                <div class="header-overlay">
                </div>

        <div class="header-content">
            <img src="./img/logo.png" alt="" class="img-fluid">

            <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

            <h2>Apporte les ingrédients, je t'apprends à les cuisiner. </h2>

            <h1>
                Ramenes          
                <span id="js-rotating"> tes patates/ton chocolat/tes pattes</span>
                , je t'apprends à cuisiner
                <span id="js-rotating-2">un gratin/un brownie/des lasagnes</span>
            </h1>

            <h2></h2>
                <button type="button" class="btn btn-light-green">En savoir plus</button>
            </div>

        <div class="icone">
            <a href="#main"><i class="fas fa-angle-double-down"></i></a>
        </div>

    </header>





<div id="main" class="container mt-3">
    <div class="row">
        <div class="col-sm">
            <div class="card">
                <h1 class="search-home">On cuisine quoi aujourd'hui ? </h1>
                <div id="search" class="card-body text-center">
                    <!-- Search form -->
                    <form class="form-inline mr-auto">
                        <input class="form-control form-control-lg mr-sm-2 center" type="text" placeholder="Rechercher une recette" aria-label="Rechercher">
                        <button class="btn blue-gradient btn-rounded  btn-lg my-0" type="submit">Rechercher</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container mt-3">
    <div class="row">
        <div class="col-sm">
            <div class="card">
                <div class="card-header bg-primary text-white text-uppercase">
                    <i class="fa fa-star"></i> Catégories
                </div>
                <div class="card-body">
                    <div class="row">
                    {% for category in categories %}
                        <div class="col-sm">
                            <div class="card">
                                <img class="card-img-top img-fluid" src="img/pizza-fruits-de-mer-600x410.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title"><a href="product.html" title="View Product">{{category.name}}</a></h4>
                                    <p class="card-text">Description de la recette</p>
                                    <div class="row">
                                        <div class="col">
                                            <a href="cart.html" class="btn btn-success btn-block">Interessé</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="container mt-3">
    <div class="row">  
        <div class="col-sm">
            <div class="card">
                <div class="card-header bg-primary text-white text-uppercase">
                    <i class="fa fa-star"></i> Derniers Ajouts
                </div>
                <div class="card-body">
                    <div class="row">
                        {% for last_recette in last_recettes %}
                            <div class="col-sm">
                                <div class="card">
                                    <img class="card-img-top img-fluid" src="img/pizza-fruits-de-mer-600x410.jpg" alt="Card image cap">
                                    <div class="card-body">
                                        <h4 class="card-title"><a href="product.html" title="View Product">{{last_recette.title}}</a></h4>
                                        <p class="card-text">{{last_recette.description}}</p>
                                        <div class="row">
                                            <div class="col">
                                                <a href="cart.html" class="btn btn-success btn-block">Interessé</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container mt-3 mb-4">
    <div class="row">
        <div class="col-sm">
            <div class="card">
                <div class="card-header bg-primary text-white text-uppercase">
                    <i class="fa fa-trophy"></i> Meilleurs cuisiniers
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm">
                            <div class="card">
                                <img class="card-img-top" src="img/profil-avatar-femme-icone-ronde_24640-14042.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title"><a href="product.html" title="View Product">Juliette</a></h4>
                                    <p class="card-text">Description du cuisinier</p>
                                    <div class="row">
                                        <div class="col">
                                            <a href="cart.html" class="btn btn-success btn-block">Voir le profil</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="card">
                                <img class="card-img-top" src="img/profil-avatar-homme-icone-ronde_24640-14044.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title"><a href="product.html" title="View Product">Pierre</a></h4>
                                    <p class="card-text">Description du cuisinier</p>
                                    <div class="row">
                                        <div class="col">
                                            <a href="cart.html" class="btn btn-success btn-block">Voir le profil</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="card">
                                <img class="card-img-top" src="img/profil-avatar-femme-icone-ronde_24640-14042.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title"><a href="product.html" title="View Product">Pierre</a></h4>
                                    <p class="card-text">Description du cuisinier</p>
                                    <div class="row">
                                        <div class="col">
                                            <a href="cart.html" class="btn btn-success btn-block">Voir le profil</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="card">
                                <img class="card-img-top" src="img/profil-avatar-homme-icone-ronde_24640-14044.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title"><a href="product.html" title="View Product">Salim</a></h4>
                                    <p class="card-text">Description du cuisinier</p>
                                    <div class="row">
                                        <div class="col">
                                            <a href="cart.html" class="btn btn-success btn-block">Voir le profil</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
