{% extends 'base.html.twig' %}

{% block title %}Edit Recette{% endblock %}

{% block body %}
    <h1>Edit Recette</h1>

    {{ include('recette/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="">back to list</a>


{% endblock %}
