
    {% for recette in response %}
        <a class="dropdown-item autocomplete-items" href="{{path('recette_show', {slug: recette.slug}) }}">
            {{recette.title}}
        </a> 
    {% endfor %}
