
    {% for recette in response %}
        <a class="dropdown-item autocomplete-items" href="{{path('recette_show', {slug: recette.slug}) }}">
            {{recette.title | trim(0123456789102030405060708090)}}
        </a> 
    {% endfor %}
