{% extends 'base.html.twig' %}

{% block title %}Modifier profil{% endblock %}

{% block body %}
         <div class="container mt-5 mb-3" id="board">
            <h2>Tableau de bord</h2>
            <div class="row">
                <div class="col-lg-4 mt-5">
                    <div class="list-group" id="list-tab">
                        <a class="list-group-item list-group-item-action" id="list-home-list" href="{{path('user', {id: user.id})}}">Tableau de bord</a>
                        <a class="list-group-item list-group-item-action active" id="list-profile-list" href="{{path('user_edit', {id: user.id} )}}">Modifier mon profil</a>
                        <a class="list-group-item list-group-item-action" id="list-creation-list" href="{{path('user_recettes', {id: user.id})}}">Mes recettes</a>
                        <a class="list-group-item list-group-item-action" id="list-interest-list" href="interest_user.html">Intêrets</a>
                    </div>
                </div>
            <div class="col mb-5">
                <div class="card mx-auto p-3 mt-5">
                    {{ include('user/_form.html.twig', {'button_label': 'Valider la modification'}) }}                   
                </div>
            </div>
        </div>




{% endblock %}
